:root {
    --borderColor: rgb(255, 200, 0);
    --paragraphColor: white;
}

body {
    overflow-x: hidden;
    scrollbar-gutter: stable;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #1C1C1E;

    font-family: Roboto, Open Sans, Montserrat;
}

header {
    width: 100%;
    height: auto;
    min-height: 4rem;
    max-height: 8rem;
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    display: flex;
}

header div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    
    color: var(--paragraphColor);
}

header div .logo {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: solid;
    border-radius: 5%;
    border-color: var(--borderColor);
}

header div a {
    font-family: "Audiowide", serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(2rem, 3.5vw, 3rem);
    text-decoration: none;
    color: var(--paragraphColor)
}

header div .logo:hover {
    background-color: rgb(164, 164, 164);
}

header div nav {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

header div nav div {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: solid;
    border-radius: 5%;
    border-color: var(--borderColor);
}

header div nav div a {
    font-size: clamp(0.5rem, 3vw, 2rem);
    text-decoration: none;
    color: var(--paragraphColor)
}

header div nav div:hover {
    background-color: rgb(164, 164, 164);
}

body section {
    margin: 0;
    padding-left: 2rem;
    padding-right: 2rem;

    word-wrap: break-word;
    color: var(--paragraphColor);
}

body section h1 {
    color: rgb(255, 200, 0);
    font-size: xx-large;
}

body section h2 {
    color: rgb(255, 200, 0);
    font-size: large;
}

body section div img {
    width: 80vw;
}

body section div {
    padding-bottom: 75px;
}