body {
    background-color: rgb(48, 48, 48);
    color: white;
    font-family: Roboto, Open Sans, Montserrat;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    background-color: rgb(128, 128, 128);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Helvetica;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
}

header nav ul a:hover {
    background-color: rgb(64, 64, 64);
}

header .logo {
    background-image: url("images/ceakii-logo.png");
    background-repeat: no-repeat;
    background-size: 130px;
    height: 60px;
    width: 130px;
    text-indent: -999999px;
}

header .logo:hover {
    background-color: rgb(64, 64, 64);
}

section {
    padding: 20px;
    background-color: rgb(48, 48, 48);
    color: white;
}

section ul {
    padding-left: 10;
}

body section h1 {
    font-size: 1000;
}